<!DOCTYPE html>
<html lang="en">

<head>
    <title>SIAT</title>
    <link rel="shortcut icon" type="image/png" href="../dist/img/logoTechPro.png"></link>
    <script data-main="../src/js/main" src="../vendors/require/require.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
</head>

<body>
    <div class="contenedor">
        <img src="../img/logoTechPro.png" class="spinner">
        <div class="texto">
            <div class="bounce1">C</div>
            <div class="bounce2">a</div>
            <div class="bounce3">r</div>
            <div class="bounce3">g</div>
            <div class="bounce3">a</div>
            <div class="bounce3">n</div>
            <div class="bounce3">d</div>
            <div class="bounce3">o</div>
        </div>
    </div>
</body>

</html>